body {
    font-family: Tahoma;
    font-size: 13px;
    width: 1000px;
    margin: 0px auto;
}
#menutop {
    background: #141414;
    height: 40px;
}
#banner {
    height: auto;
    width: 1000px;
}
#main #left {
    width: 700px;
    float: left;
    min-height: 400px;
    float: left;
}
#main #right {
    width: 300px;
    float: left;
    min-height: 400px;
}
#footer {
    background: darkcyan;
    width: 1000px;
    height: 60px;
    text-align: center;
    clear:left;
 }
#menutop ul {
    margin: 0px;
    padding: 0px;
}
#menutop ul li {
    list-style: none;
    float: left;
}
#menutop ul li a {
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    padding: 0px 30px 0px 30px;
    border-right: 1px solid #f1f1f1;
  text-indent: 15px;
}
#menutop ul li a.active {
    background: #1949b5;
}
#banner img {
    width: 1000px;
}
#main #left img {
    height: 100px;
    width: 100px;
}
#main #left ul {
    margin: 0px;
    padding: 0px;
}
#main #left ul li {
    list-style: none;
    clear: left;
    border-bottom: 1px solid #ccc;
    float: left;
    margin-bottom: 20px;
}
#main #left ul li img {
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}
#main #left ul li h2{
    font-size: 14px;
    margin-top: 0px;
}
#main {
    margin-top: 10px;
}
#main #right .menu_right ul {
    margin: -15px 0px 0px 0px;
    padding: 0px;
    border: 1px solid #ccc;
}
#main #right .menu_right ul li {
    list-style: none;
}
#main #right .menu_right ul li a {
    display: block;
    text-decoration: none;
    line-height: 45px;
    border-bottom: 1px solid #ccc;
}
#main #right .menu_right h3 {
    background: #194d58;
    height: 40px;
    margin-top: 0px;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    color: white;
}
#main #right .menu_right ul li a:hover {
    color: yellow;
}
#main #right .menu_right ul img {
    height: 227px;
    width: 298px;
    margin-top: 0px;
}